.reservation-wrap {
  margin-bottom: -200px;
  position: relative;
  text-align: center;
}
.reservation-wrap .anchor {
  position: absolute;
  left: 0;
  width: 100%;
}
.reservation-wrap .anchor--1 {
  top: 33.33%;
}
.reservation-wrap .anchor--2 {
  top: 66.66%;
}
.reservation-bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
  max-width: 2560px;
  margin: 0 auto;
  background-image: url(../images/reservation/bg-1.webp);
}
.reservation-bg:before, .reservation-bg:after {
  -webkit-transition: 1000ms all;
  transition: 1000ms all;
  content: "";
  opacity: 0;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
}
.reservation-bg:before {
  background-image: url(../images/reservation/bg-2.webp);
  z-index: 2;
}
.reservation-bg:after {
  background-image: url(../images/reservation/bg-3.webp);
  z-index: 3;
}
.reservation-bg.noon:before {
  opacity: 1;
}
.reservation-bg.night:after {
  opacity: 1;
}

.section-landing {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  padding: 100px 0;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-landing .bg {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/landing/bg.webp) no-repeat 50% 50%;
  background-size: cover;
}
.section-landing .bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.section-landing .bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
}
.section-landing .container {
  position: relative;
  z-index: 5;
  text-align: center;
}
.section-landing .bi {
  background: url(../images/landing/bi.webp) no-repeat 50% 50%;
  width: 363px;
  height: 326px;
  margin: 0 auto;
}
.section-landing .title {
  background: url(../images/landing/title.webp) no-repeat 50% 50%;
  width: 790px;
  height: 138px;
  margin: -20px auto 10px;
}
.section-landing .btnToReservation {
  position: relative;
  width: 392px;
  height: 102px;
  -webkit-transition: none;
  transition: none;
  margin: 0 auto 50px;
}
.section-landing .btnToReservation:before, .section-landing .btnToReservation:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/landing/btn.webp");
  background-repeat: no-repeat;
}
.section-landing .btnToReservation:before {
  background-position-y: 0;
  opacity: 1;
}
.section-landing .btnToReservation:after {
  background-position-y: -102px;
  opacity: 0;
}
.section-landing .btnToReservation:hover:after {
  opacity: 1;
}
.section-landing .btnToReservation:hover:before {
  opacity: 0;
}
.section-landing .scrollDown {
  display: block;
  margin: 0 auto;
  width: 125px;
  height: 86px;
  background: url(../images/landing/scrolldown.webp) no-repeat;
  z-index: 2;
  -webkit-transition: 500ms opacity;
  transition: 500ms opacity;
}

.section-reservation,
.section-market {
  position: relative;
  overflow: visible;
}
.section-reservation__bg,
.section-market__bg {
  display: block;
  max-width: 2560px;
  width: 100%;
  background-size: 2560px auto;
  background-repeat: no-repeat;
  background-position: 50% 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section-reservation .container,
.section-market .container {
  z-index: 2;
  position: relative;
}

.section-reservation {
  height: 1560px;
}
.section-reservation .ch {
  position: absolute;
  top: 390px;
  margin-left: -935px;
  left: 50%;
  background: url(../images/reservation/ch.webp) no-repeat;
  width: 533px;
  height: 932px;
}
.section-reservation__bg {
  top: -349px;
  height: 2628px;
  background-image: url(../images/reservation/content.webp);
}
.section-reservation .form-area {
  top: 800px;
  font-family: "Pretendard", "ChosunNm", "Noto Sans KR", sans-serif;
}

.section-market {
  height: 1515px;
}
.section-market__bg {
  top: -625px;
  height: 2680px;
  background-image: url(../images/market/content.webp);
}
.section-market .ch {
  background-image: url(../images/market/ch.webp);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 50%;
}
.section-market .ch--1 {
  background-position: -5px -5px;
  width: 406px;
  height: 448px;
  margin-left: -819px;
  top: 612px;
}
.section-market .ch--2 {
  background-position: -5px -463px;
  width: 153px;
  height: 185px;
  margin-left: -734px;
  top: 361px;
}
.section-market .ch--3 {
  background-position: -5px -658px;
  width: 138px;
  height: 124px;
  margin-left: -574px;
  top: 116px;
}
.section-market .badge-wrap {
  position: absolute;
  top: 866px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.section-market .btn-reservation-notice {
  position: absolute;
  top: 1064px;
  position: relative;
  width: 302px;
  height: 50px;
  -webkit-transition: none;
  transition: none;
}
.section-market .btn-reservation-notice:before, .section-market .btn-reservation-notice:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/reservation/reservation-notice.webp");
  background-repeat: no-repeat;
}
.section-market .btn-reservation-notice:before {
  background-position-y: 0;
  opacity: 1;
}
.section-market .btn-reservation-notice:after {
  background-position-y: -50px;
  opacity: 0;
}
.section-market .btn-reservation-notice:hover:after {
  opacity: 1;
}
.section-market .btn-reservation-notice:hover:before {
  opacity: 0;
}

.form-area {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  text-align: center;
  max-width: 536px;
  width: 100%;
  text-align: center;
  display: block;
  z-index: 5;
  font-size: 18px;
  color: #bbbbbb;
}
.form-area * {
  font-weight: 400;
  letter-spacing: -0.05em;
}
.form-area form {
  max-width: 538px;
  width: 100%;
  margin: 0 auto;
}
.form-area .input {
  height: 66px;
  padding: 0 0.5em;
  font-size: 1.2222222222em;
  width: 100%;
  background-color: #fff;
  border: 1px solid #dbcbad;
  border-radius: 10px;
  text-align: center;
  margin: 20px auto;
}
.form-area .radio-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  font-size: 16px;
  margin-bottom: 24px;
}
.form-area .radio-wrap img {
  height: 44px;
}
@media (max-width: 500px) {
  .form-area .radio-wrap {
    font-size: 10px;
  }
}
.form-area .radio-wrap label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  padding-left: 40px;
}
.form-area .radio-wrap label input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.form-area .radio-wrap label:has(input:checked):after {
  content: "";
}
.form-area .radio-wrap label:has(input:checked):before {
  border-color: #cf2d29;
}
.form-area .radio-wrap label:hover:before, .form-area .radio-wrap label:focus:before, .form-area .radio-wrap label:focus-within:before {
  border-color: #cf2d29;
}
.form-area .radio-wrap label:before, .form-area .radio-wrap label:after {
  top: 50%;
  position: absolute;
  display: block;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.form-area .radio-wrap label:before {
  content: "";
  background-color: #fff;
  border: 1px solid #dbcbad;
}
.form-area .radio-wrap label:after {
  -webkit-transform: translateY(-50%) scale(0.5);
          transform: translateY(-50%) scale(0.5);
  background-color: #cf2d29;
}
.form-area .cloudeflare-container {
  text-align: left;
}
.form-area .chk-wrap {
  text-align: left;
}
.form-area .chk-wrap label {
  cursor: pointer;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.3;
}
.form-area .chk-wrap input {
  font-size: 0.8888888889em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  accent-color: #cf2d29;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin-right: 8px;
  width: 22px;
  height: 22px;
  margin-top: 0;
  accent-color: #cf2d29;
  background-color: #fff;
}
.form-area .chk-wrap input:checked {
  background-color: #cf2d29;
}
.form-area .chk-wrap .chk-all {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
  color: #fff;
}
.form-area .chk-wrap .chk-all .text {
  font-size: 20px;
  font-weight: 500;
}
.form-area .chk-wrap__list {
  padding-left: 11px;
}
.form-area .chk-wrap__list li {
  margin-top: 0.6em;
}
.form-area .clause-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 0.7em;
  padding-left: 0.7em;
  padding-right: 1.4em;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23777777'/%3E%3Cpath d='M6 12L10 8L6 4' stroke='%23ffffff' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 1em;
  color: #bbbbbb;
  font-size: 0.8888888889em;
  position: relative;
  margin-left: auto;
}
.form-area .clause-btn:hover {
  color: #a2a2a2;
}
.form-area .clause-btn:before {
  width: 2px;
  background-color: #888888;
  height: 0.9em;
  margin-top: -0.45em;
  top: 50%;
  left: 0;
  display: block;
  position: absolute;
}
.form-area .text-alert {
  margin-top: 0.2em;
  padding-left: 22px;
  line-height: 1.2;
  color: #888888;
  letter-spacing: -0.07em;
}
.form-area .btn-submit {
  position: relative;
  width: 392px;
  height: 102px;
  -webkit-transition: none;
  transition: none;
  margin: 30px auto 0;
}
.form-area .btn-submit:before, .form-area .btn-submit:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/reservation/btn.webp");
  background-repeat: no-repeat;
}
.form-area .btn-submit:before {
  background-position-y: 0;
  opacity: 1;
}
.form-area .btn-submit:after {
  background-position-y: -102px;
  opacity: 0;
}
.form-area .btn-submit:hover:after {
  opacity: 1;
}
.form-area .btn-submit:hover:before {
  opacity: 0;
}

.popup-terms .popup__wrap {
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  border-radius: 5px;
  font-family: "Pretendard", "ChosunNm", "Noto Sans KR", sans-serif;
}
.popup-terms .popup__head {
  background: #f2f2f2;
}
.popup-terms .popup__head h2 {
  font-size: 1.25em;
  color: #111;
}
.popup-terms .popup__head, .popup-terms .popup__body {
  padding: 20px;
}

.popup__reservation .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: min(12px, 1.2vw);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup__reservation .btn-wrap .btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 220px;
}

.section-event {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: url(../images/event/bg.webp) no-repeat 50% 0;
  background-size: 2560px auto;
}

.event-content--1 {
  height: 1208px;
}
.event-content--2 {
  height: 1626px;
}
.event-content--3 {
  height: 1290px;
}
.event-content--4 {
  height: 1091px;
}
.event-content--1 {
  text-align: center;
}
.event-content--1 .spr-marble .i {
  background-image: url(../images/event/1/spr_marble.webp);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 50%;
}
.event-content--1 .spr-marble .i--1 {
  background-position: -5px -5px;
  width: 106px;
  height: 108px;
  top: 701px;
  margin-left: -825px;
}
.event-content--1 .spr-marble .i--2 {
  background-position: -5px -123px;
  width: 180px;
  height: 180px;
  top: 581px;
  margin-left: -726px;
}
.event-content--1 .spr-marble .i--3 {
  background-position: -5px -313px;
  width: 175px;
  height: 121px;
  top: 683px;
  margin-left: 544px;
}
.event-content--1 .spr-marble .i--4 {
  background-position: -5px -444px;
  width: 241px;
  height: 244px;
  margin-left: 650px;
  top: 106px;
}
.event-content--1 .spr-marble .i--5 {
  background-position: -5px -698px;
  width: 321px;
  height: 324px;
  margin-left: -1120px;
  top: 890px;
}
.event-content--1 .spr-marble .i--6 {
  background-position: -5px -1032px;
  width: 413px;
  height: 407px;
  top: 1040px;
  margin-left: 780px;
}
.event-content--1 .gauge {
  position: relative;
  top: 573px;
  z-index: 2;
}
.event-content--2 {
  position: relative;
  text-align: center;
}
.event-content--2 .bg {
  position: absolute;
  left: 50%;
  width: 2442px;
  height: 2188px;
}
.event-content--2 .bg--light {
  background: url(../images/event/2/bg-light.webp);
  top: -417px;
  margin-left: -1282px;
}
.event-content--2 .bg--cloud {
  top: -350px;
  margin-left: -1287px;
  background: url(../images/event/2/bg-cloud.webp);
}
.event-content--2 .ch {
  width: 1746px;
  height: 1587px;
  background: url(../images/event/2/ch.webp) no-repeat;
  position: absolute;
  left: 50%;
  top: -16px;
  margin-left: -1280px;
}
.event-content--2 .container {
  position: relative;
  top: 460px;
}
.event-content--2 .attend-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  text-align: center;
}
.event-content--2 .attend-form__btn {
  position: relative;
  width: 207px;
  height: 72px;
  -webkit-transition: none;
  transition: none;
}
.event-content--2 .attend-form__btn:before, .event-content--2 .attend-form__btn:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/event/2/btn.webp");
  background-repeat: no-repeat;
}
.event-content--2 .attend-form__btn:before {
  background-position-y: 0;
  opacity: 1;
}
.event-content--2 .attend-form__btn:after {
  background-position-y: -72px;
  opacity: 0;
}
.event-content--2 .attend-form__btn:hover:after {
  opacity: 1;
}
.event-content--2 .attend-form__btn:hover:before {
  opacity: 0;
}
.event-content--2 .attend-form__input {
  position: relative;
  top: 1px;
  height: 66px;
  background-color: #fff;
  border: 0;
  font-size: 22px;
  font-family: "Pretendard", "ChosunNm", "Noto Sans KR", sans-serif;
  font-weight: 500;
  width: 476px;
  text-align: center;
  padding: 0 1em;
  color: #111;
}
.event-content--2 .attend-form__input::-webkit-input-placeholder {
  color: #bbb;
}
.event-content--2 .attend-form__input::-moz-placeholder {
  color: #bbb;
}
.event-content--2 .attend-form__input:-ms-input-placeholder {
  color: #bbb;
}
.event-content--2 .attend-form__input::-ms-input-placeholder {
  color: #bbb;
}
.event-content--2 .attend-form__input::placeholder {
  color: #bbb;
}
.event-content--2 .btn-check-board-reward {
  position: relative;
  width: 314px;
  height: 62px;
  -webkit-transition: none;
  transition: none;
  margin: -200px auto 0;
  z-index: 3;
}
.event-content--2 .btn-check-board-reward:before, .event-content--2 .btn-check-board-reward:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/event/2/btn-check-board-reward.webp");
  background-repeat: no-repeat;
}
.event-content--2 .btn-check-board-reward:before {
  background-position-y: 0;
  opacity: 1;
}
.event-content--2 .btn-check-board-reward:after {
  background-position-y: -62px;
  opacity: 0;
}
.event-content--2 .btn-check-board-reward:hover:after {
  opacity: 1;
}
.event-content--2 .btn-check-board-reward:hover:before {
  opacity: 0;
}
.event-content--2 .event-notice {
  margin: -68px auto 0;
  z-index: 2;
  position: relative;
  font-family: "Pretendard", "ChosunNm", "Noto Sans KR", sans-serif;
  letter-spacing: -0.05em;
  text-align: left;
  font-size: 18px;
  color: #bbbbbb;
  max-width: 720px;
}
.event-content--2 .event-notice h4 {
  font-weight: 400;
}
.event-content--2 .event-notice li {
  line-height: 1.1;
}
.event-content--3 {
  padding-top: 419px;
  position: relative;
}
.event-content--3 .ch {
  width: 470px;
  height: 721px;
  background: url(../images/event/3/ch.webp) no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -704px;
  top: 579px;
}
.event-content--3 .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-top: 33px;
}
.event-content--3 .btn-wrap .btn--x {
  position: relative;
  width: 283px;
  height: 78px;
  -webkit-transition: none;
  transition: none;
}
.event-content--3 .btn-wrap .btn--x:before, .event-content--3 .btn-wrap .btn--x:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/event/3/btn-x.webp");
  background-repeat: no-repeat;
}
.event-content--3 .btn-wrap .btn--x:before {
  background-position-y: 0;
  opacity: 1;
}
.event-content--3 .btn-wrap .btn--x:after {
  background-position-y: -78px;
  opacity: 0;
}
.event-content--3 .btn-wrap .btn--x:hover:after {
  opacity: 1;
}
.event-content--3 .btn-wrap .btn--x:hover:before {
  opacity: 0;
}
.event-content--3 .btn-wrap .btn--lounge {
  position: relative;
  width: 284px;
  height: 79px;
  -webkit-transition: none;
  transition: none;
}
.event-content--3 .btn-wrap .btn--lounge:before, .event-content--3 .btn-wrap .btn--lounge:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/event/3/btn-lounge.webp");
  background-repeat: no-repeat;
}
.event-content--3 .btn-wrap .btn--lounge:before {
  background-position-y: 0;
  opacity: 1;
}
.event-content--3 .btn-wrap .btn--lounge:after {
  background-position-y: -79px;
  opacity: 0;
}
.event-content--3 .btn-wrap .btn--lounge:hover:after {
  opacity: 1;
}
.event-content--3 .btn-wrap .btn--lounge:hover:before {
  opacity: 0;
}
.event-content--4 {
  position: relative;
  text-align: center;
}
.event-content--4 .tournament-start-btn {
  position: absolute;
  position: relative;
  width: 385px;
  height: 106px;
  -webkit-transition: none;
  transition: none;
  z-index: 2;
  top: 370px;
}
.event-content--4 .tournament-start-btn:before, .event-content--4 .tournament-start-btn:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/event/4/btn.webp");
  background-repeat: no-repeat;
}
.event-content--4 .tournament-start-btn:before {
  background-position-y: 0;
  opacity: 1;
}
.event-content--4 .tournament-start-btn:after {
  background-position-y: -106px;
  opacity: 0;
}
.event-content--4 .tournament-start-btn:hover:after {
  opacity: 1;
}
.event-content--4 .tournament-start-btn:hover:before {
  opacity: 0;
}
.event-content--4 .box {
  display: block;
  margin: 0 auto;
  width: 1266px;
  height: 733px;
  background: url(../images/event/4/box.webp) 100% 100% no-repeat;
  position: absolute;
  top: 268px;
  left: 50%;
  margin-left: -627px;
}

.check-board {
  position: relative;
  left: 28px;
  width: 1222px;
  height: 744px;
  background: url(../images/event/2/board.webp) no-repeat;
}
.check-board--guest {
  background: url(../images/event/2/board-guest.webp) no-repeat 50% 42%, url(../images/event/2/board.webp) no-repeat;
}
.check-board--guest .check-board__wrap {
  opacity: 0.2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.check-board__wrap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 828px;
  top: 213px;
  left: 197px;
}
.check-board__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.check-board__check .btn:after {
  background-image: url(../images/event/2/stamp_check.webp);
}
.check-board__reward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 138px;
          flex: 0 0 138px;
}
.check-board__reward .btn:after {
  background-image: url(../images/event/2/stamp_reward.webp);
}
.check-board__reward .btn p {
  padding: 0 1em;
}
.check-board .btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 138px;
          flex: 0 0 138px;
  padding: 5px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.check-board .btn.checked:before {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.check-board .btn.checked:after {
  content: "";
}
.check-board .btn:after {
  width: 87px;
  height: 87px;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -43px;
  margin-top: -43px;
}
.check-board .btn p {
  width: 126px;
  height: 70px;
  font-size: 22px;
  line-height: 1.0909090909;
  color: #333;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: -0.02em;
}

.gauge {
  position: relative;
  height: 565px;
  width: 1004px;
  margin: 0 auto;
}
.gauge:before, .gauge:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.gauge:before {
  background: url(../images/event/1/gauge-bg.webp) no-repeat;
}
.gauge:after {
  background: url(../images/event/1/gauge.webp);
}
.gauge-list {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.gauge-list__bar {
  position: absolute;
  left: 20px;
  top: 380px;
  width: 920px;
  text-align: left;
}
.gauge-list__bar .bar {
  width: 0%;
  display: block;
  height: 23px;
  position: relative;
  background: url(../images/event/1/gauge-bar.webp);
  background-repeat: repeat-x;
}
.gauge-list__bar .bar:before, .gauge-list__bar .bar:after {
  width: 12px;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
}
.gauge-list__bar .bar:after {
  background: url(../images/event/1/gauge-bar-end.webp) no-repeat;
  right: -12px;
}
.gauge-list__bar .bar:before {
  background: url(../images/event/1/gauge-bar-start.webp) no-repeat;
  left: -12px;
}
.gauge-list .item {
  position: absolute;
  height: 100%;
  width: 149px;
  top: 0;
}
.gauge-list .item.active:after {
  background-image: url(../images/event/1/on.webp);
}
.gauge-list .item.active:before {
  opacity: 1;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.gauge-list .item:before {
  content: "";
  opacity: 0;
  position: absolute;
  bottom: 98px;
  left: 50%;
  margin-left: -75px;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  -webkit-transition-delay: 100ms transform;
          transition-delay: 100ms transform;
  background: url(../images/event/1/spr-gauge.webp);
  background-position: -5px -323px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}
.gauge-list .item:after {
  content: "";
  display: block;
  width: 121px;
  height: 73px;
  position: absolute;
  bottom: 69px;
  left: 50%;
  margin-left: -60px;
  background: url(../images/event/1/off.webp) no-repeat;
}
.item-bg--1, .gauge-list .item--1 {
  left: 4px;
}

.gauge-list .item--1:after {
  background-position-y: 0px;
}
.item-bg--2, .gauge-list .item--2 {
  left: 164px;
}

.gauge-list .item--2:after {
  background-position-y: -73px;
}
.item-bg--3, .gauge-list .item--3 {
  left: 324px;
}

.gauge-list .item--3:after {
  background-position-y: -146px;
}
.item-bg--4, .gauge-list .item--4 {
  left: 534px;
}

.gauge-list .item--4:after {
  background-position-y: -219px;
}
.item-bg--5, .gauge-list .item--5 {
  left: 694px;
}

.gauge-list .item--5:after {
  background-position-y: -292px;
}
.item-bg--6, .gauge-list .item--6 {
  left: 854px;
}

.gauge-list .item--6:after {
  background-position-y: -365px;
}
.gauge .item-bg {
  position: absolute;
  width: 149px;
  height: 149px;
  top: 246px;
}
.gauge .item-bg:before, .gauge .item-bg:after {
  -webkit-transition: 300ms opacity linear;
  transition: 300ms opacity linear;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/event/1/spr-gauge.webp);
}
.gauge .item-bg:before {
  background-position: -5px -5px;
}
.gauge .item-bg:after {
  opacity: 0;
  background-position: -5px -164px;
}
.gauge .item-bg.active:after {
  opacity: 1;
}
.gauge .item-bg.active:before {
  opacity: 0;
}

.achieve-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 514px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 1100px;
          perspective: 1100px;
}
.achieve-list .card {
  overflow: visible;
  -webkit-transition: 1s;
  transition: 1s;
  margin-left: -3px;
  margin-right: -3px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 257px;
          flex: 0 0 257px;
  min-width: 257px;
  aspect-ratio: 0.800623053;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  overflow: visible;
  transition: 1s;
}
.achieve-list .card:before, .achieve-list .card:after {
  content: "";
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-size: contain;
}
.achieve-list .card:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-image: url(../images/event/3/card-front.webp);
}
.achieve-list .card.active:after {
  background-position: 50% 11px, 50% 50%;
  background-size: auto;
}
.achieve-list .card:nth-child(1):after {
  background-image: url(../images/event/3/1.webp);
}
.achieve-list .card:nth-child(1).active:after {
  background-image: url(../images/event/3/active-stamp.webp), url(../images/event/3/1-active.webp);
}
.achieve-list .card:nth-child(2):after {
  background-image: url(../images/event/3/2.webp);
}
.achieve-list .card:nth-child(2).active:after {
  background-image: url(../images/event/3/active-stamp.webp), url(../images/event/3/2-active.webp);
}
.achieve-list .card:nth-child(3):after {
  background-image: url(../images/event/3/3.webp);
}
.achieve-list .card:nth-child(3).active:after {
  background-image: url(../images/event/3/active-stamp.webp), url(../images/event/3/3-active.webp);
}
.achieve-list .card:nth-child(4):after {
  background-image: url(../images/event/3/4.webp);
}
.achieve-list .card:nth-child(4).active:after {
  background-image: url(../images/event/3/active-stamp.webp), url(../images/event/3/4-active.webp);
}

.event-content .i_star i {
  z-index: 3;
  background: url(../images/event/i_star.webp) no-repeat;
  background-size: contain;
  position: absolute;
  width: 38px;
  aspect-ratio: 38/56;
  display: inline-block;
  -webkit-animation: starFlip 5s alternate infinite ease-in-out;
          animation: starFlip 5s alternate infinite ease-in-out;
}
@-webkit-keyframes starFlip {
  0%, 100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  45%, 49% {
    -webkit-transform: rotateY(185deg);
            transform: rotateY(185deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  52% {
    -webkit-transform: rotateY(177deg);
            transform: rotateY(177deg);
  }
}
@keyframes starFlip {
  0%, 100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  45%, 49% {
    -webkit-transform: rotateY(185deg);
            transform: rotateY(185deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  52% {
    -webkit-transform: rotateY(177deg);
            transform: rotateY(177deg);
  }
}
.event-content--1 .i_star {
  position: absolute;
  width: 469px;
  height: 143px;
  top: 663px;
  margin-left: -234px;
}
.event-content--1 .i_star i:nth-child(1) {
  -webkit-animation-duration: 4.67s;
          animation-duration: 4.67s;
  width: 28px;
  top: 51px;
  left: 0;
}
.event-content--1 .i_star i:nth-child(2) {
  -webkit-animation-duration: 4.33s;
          animation-duration: 4.33s;
  width: 26px;
  left: 73px;
  bottom: 0;
}
.event-content--1 .i_star i:nth-child(3) {
  -webkit-animation-duration: 2.83s;
          animation-duration: 2.83s;
  width: 17px;
  left: 101px;
  top: 65px;
}
.event-content--1 .i_star i:nth-child(4) {
  -webkit-animation-duration: 3.17s;
          animation-duration: 3.17s;
  width: 19px;
  left: 353px;
  top: 86px;
}
.event-content--1 .i_star i:nth-child(5) {
  -webkit-animation-duration: 6.33s;
          animation-duration: 6.33s;
  width: 38px;
  right: 0;
}
.event-content--2 .i_star {
  position: absolute;
  width: 1158px;
  height: 1156px;
  top: 50px;
  margin-left: -554px;
}
.event-content--2 .i_star i:nth-child(1) {
  -webkit-animation-duration: 3.17s;
          animation-duration: 3.17s;
  width: 19px;
  top: 0;
  left: 245px;
}
.event-content--2 .i_star i:nth-child(2) {
  -webkit-animation-duration: 2.67s;
          animation-duration: 2.67s;
  width: 16px;
  left: 952px;
  top: 318px;
}
.event-content--2 .i_star i:nth-child(3) {
  -webkit-animation-duration: 4.33s;
          animation-duration: 4.33s;
  width: 26px;
  left: 112px;
  top: 424px;
}
.event-content--2 .i_star i:nth-child(4) {
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  width: 36px;
  left: 0;
  top: 469px;
}
.event-content--2 .i_star i:nth-child(5) {
  -webkit-animation-duration: 4.83s;
          animation-duration: 4.83s;
  width: 29px;
  left: 1089px;
  top: 908px;
}
.event-content--2 .i_star i:nth-child(6) {
  -webkit-animation-duration: 3.17s;
          animation-duration: 3.17s;
  width: 19px;
  top: 855px;
  right: 0;
}
.event-content--2 .i_star i:nth-child(7) {
  -webkit-animation-duration: 1.83s;
          animation-duration: 1.83s;
  width: 11px;
  bottom: 0;
  left: 892px;
}

.tournament-container {
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  left: 0;
  right: 0;
  top: 390px;
  width: 100%;
  height: 590px;
  padding-top: 56px;
}
.tournament-container__close {
  position: relative;
  width: 90px;
  height: 90px;
  -webkit-transition: none;
  transition: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}
.tournament-container__close:before, .tournament-container__close:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/tournament/close-btn.webp");
  background-repeat: no-repeat;
}
.tournament-container__close:before {
  background-position-y: 0;
  opacity: 1;
}
.tournament-container__close:after {
  background-position-y: -90px;
  opacity: 0;
}
.tournament-container__close:hover:after {
  opacity: 1;
}
.tournament-container__close:hover:before {
  opacity: 0;
}
.tournament-container .title--select {
  margin: 0 auto 7px;
  width: 380px;
  height: 40px;
  background: url(../images/tournament/title-select.webp) no-repeat;
}
.tournament-container .title--finish {
  margin: 0 auto 7px;
  width: 656px;
  height: 40px;
  background: url(../images/tournament/title-finish.webp) no-repeat;
}
.tournament-container .match {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  justify-content: center;
}
.tournament-container .match-container {
  position: relative;
}
.tournament-container .vs {
  width: 96px;
  height: 70px;
  background: url(../images/tournament/versus.webp) no-repeat;
  margin: 0 -40px;
  z-index: 2;
}
.tournament-container .item-button {
  padding-bottom: 0;
  border: 0;
  background: none;
  margin-right: -39px;
  margin-bottom: -29px;
}
.tournament-container .item-button.selected .img:before {
  opacity: 1;
}
.tournament-container .img {
  margin: 0 auto;
  width: 336px;
  height: 437px;
  display: block;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.tournament-container .img:before {
  content: "";
  opacity: 0;
  -webkit-transition: 100ms all;
  transition: 100ms all;
  width: 332px;
  height: 406px;
  position: absolute;
  top: 23px;
  left: -16px;
  background: url(../images/tournament/selected.webp) no-repeat;
}

#tournament-result {
  opacity: 0;
  -webkit-transition: 300ms opacity;
  transition: 300ms opacity;
}

.tournament-result-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tournament-result-wrap .img-bx {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
  position: relative;
}
.tournament-result-wrap .img-bx .item-button {
  position: relative;
}
.tournament-result-wrap .img-bx:before {
  background: url(../images/tournament/finish-img-bg.webp) no-repeat;
  content: "";
  width: 417px;
  aspect-ratio: 1;
  display: block;
  position: absolute;
  top: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: spin 30s infinite linear;
          animation: spin 30s infinite linear;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
.tournament-result-wrap .img-bx:after {
  content: "";
  width: 417px;
  height: 437px;
  position: absolute;
  content: "";
  background: url(../images/tournament/finish-img-fly.webp) no-repeat;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.tournament-result-wrap .txt-bx {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 280px;
          flex: 0 0 280px;
}
.tournament-result-wrap .txt-bx .btn {
  display: inline-block;
}
.tournament-result-wrap .txt-bx .btn-saveImg {
  position: relative;
  width: 283px;
  height: 78px;
  -webkit-transition: none;
  transition: none;
}
.tournament-result-wrap .txt-bx .btn-saveImg:before, .tournament-result-wrap .txt-bx .btn-saveImg:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/tournament/btn-saveImg.webp");
  background-repeat: no-repeat;
}
.tournament-result-wrap .txt-bx .btn-saveImg:before {
  background-position-y: 0;
  opacity: 1;
}
.tournament-result-wrap .txt-bx .btn-saveImg:after {
  background-position-y: -78px;
  opacity: 0;
}
.tournament-result-wrap .txt-bx .btn-saveImg:hover:after {
  opacity: 1;
}
.tournament-result-wrap .txt-bx .btn-saveImg:hover:before {
  opacity: 0;
}
.tournament-result-wrap .txt-bx .btn-restart {
  position: relative;
  width: 314px;
  height: 60px;
  -webkit-transition: none;
  transition: none;
}
.tournament-result-wrap .txt-bx .btn-restart:before, .tournament-result-wrap .txt-bx .btn-restart:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/tournament/btn-restart.webp");
  background-repeat: no-repeat;
}
.tournament-result-wrap .txt-bx .btn-restart:before {
  background-position-y: 0;
  opacity: 1;
}
.tournament-result-wrap .txt-bx .btn-restart:after {
  background-position-y: -60px;
  opacity: 0;
}
.tournament-result-wrap .txt-bx .btn-restart:hover:after {
  opacity: 1;
}
.tournament-result-wrap .txt-bx .btn-restart:hover:before {
  opacity: 0;
}
.tournament-result-wrap .share {
  margin: 40px auto;
}
.tournament-result-wrap .share__title {
  background: url(../images/tournament/share-title.webp) no-repeat;
  width: 105px;
  height: 23px;
  margin: 0 auto 14px;
}
.tournament-result-wrap .share__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}
.tournament-result-wrap .share__list .share-btn {
  display: block;
  background-repeat: no-repeat;
  background-image: url(../images/tournament/share-btn.webp);
}
.tournament-result-wrap .share__list .share-btn--facebook {
  background-position: -10px -10px;
  width: 52px;
  height: 52px;
}
.tournament-result-wrap .share__list .share-btn--kakaotalk {
  background-position: -10px -82px;
  width: 52px;
  height: 52px;
}
.tournament-result-wrap .share__list .share-btn--x {
  background-position: -10px -154px;
  width: 52px;
  height: 52px;
}/*# sourceMappingURL=reservation.css.map */