//썸네일 요소
.thumb-btn {
  display: block;
  position: relative;
  height: 143px;
  width: 143px;
  background: #000 url(#{$rootUrl}/common/images/thumb-frame.webp) no-repeat;
  background-size: contain;
  transition: 300ms background;
  &:before,
  &:after {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    content: '';
    display: block;
    transition: 300ms all;
    background-size: contain;
    width: 137px;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    margin-top: -69px;
    margin-left: -69px;
    // transform: translate(-50%, -50%);
    @at-root .section-witch .thumb-btn {
      &:before,
      &:after {
        transform: rotate(-90deg);
      }
    }
  }
  &:before {
    z-index: 1;
    background: linear-gradient(to bottom, rgba(#000, 0) 70%, rgba(#000, 0.3) 100%);
  }
  //TODO: 그림자넣기
  &:after {
    opacity: 0.6;
  }
  &:hover:not(.active),
  &.active {
    &:after {
      opacity: 1;
    }
  }
  .spin {
    position: absolute;
    z-index: 5;
    aspect-ratio: 1;
    // width: 174px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
    opacity: 0;
    transition: opacity 300ms, transform 500ms;
    transform-origin: 50% 50%;
    width: 137px;
    border: 1.5px solid #fff;
    filter: blur(0.5px);
  }

  &.active {
    background-color: #fff;
    &:before {
      opacity: 0;
    }
    .spin {
      transform: translate(-50%, -50%) rotate(15deg);
      opacity: 1;
    }
  }
}
