.reservation-wrap {
  margin-bottom: -200px; //이벤트 중첩
  position: relative;
  text-align: center;
  // overflow: hidden;
  .anchor {
    position: absolute;
    left: 0;
    width: 100%;
    &--1 {
      top: 33.33%;
    }
    &--2 {
      top: 66.66%;
    }
  }
  @at-root .reservation-bg {
    // 밤->아침->낮
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    max-width: 2560px;
    margin: 0 auto;
    background-image: url(../images/reservation/bg-1.webp);
    &:before,
    &:after {
      transition: 1000ms all;
      content: '';
      opacity: 0;
      left: 0;
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: inherit;
    }
    &:before {
      background-image: url(../images/reservation/bg-2.webp);
      z-index: 2;
    }
    &:after {
      background-image: url(../images/reservation/bg-3.webp);
      z-index: 3;
    }
    &.noon {
      &:before {
        opacity: 1;
      }
    }
    &.night {
      &:after {
        opacity: 1;
      }
    }
  }
}

.section-reservation,
.section-market {
  // box-shadow: inset 0 0 1px 1px red; //FIXME:
  // border-top: 1px solid yellow;
  // border-bottom: 1px solid yellow;
  position: relative;
  overflow: visible;
  // &__bg {
  //   display: block;
  //   max-width: 2560px;
  //   width: 100%;
  //   background-size: 2560px auto;
  //   background-repeat: no-repeat;
  //   background-position: 50% 0;
  //   position: absolute;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   // @include xl {
  //   //   transform: none;
  //   //   margin-left: -1920px;
  //   // }
  // }
  .container {
    z-index: 2;
    position: relative;
  }
}

.section-reservation {
  z-index: 3;
  // padding-top: 64px;
  height: 1596px; //1645px + 64px;
  &:before {
    //배경
    content: '';
    width: 2560px;
    height: 2628px;
    background: url(../images/reservation/bg.webp) no-repeat 50% 50%;
    position: absolute;
    top: 59.4%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
  }
  .ch {
    background-image: url(../images/reservation/ch.webp);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 50%;
    &--b {
      //정령같은거
      @include spr(-5px, -5px, 286px, 493px);
      margin-left: -830px;
      top: 1368px;
    }

    &--l {
      //디아(왼쪽)
      @include spr(-5px, -508px, 811px, 1357px);

      margin-left: -1280px;
      top: -204px;
    }

    &--r {
      //신코우(오른쪽)
      @include spr(-5px, -1875px, 1605px, 1699px);
      margin-left: -325px;
      top: 100px;
    }
  }

  &__bg {
    // top: -349px;
    // height: 2628px;
    z-index: 2;
    position: absolute;
    background: url(../images/reservation/content.webp) no-repeat;
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    margin: 0 auto;
    width: 1374px;
    height: 1645px;
    top: 64px;
    left: 0;
    right: 0;
  }
  .form-area {
    top: 833px;
    // border: 1px solid yellow;
    font-family: $font-family-sub;
  }
}
.reservation-reward {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  top: 530px;
  z-index: 2;
  .btn {
    transition: 300ms filter;
    &:hover {
      filter: brightness(1.1);
    }
    // border: 1px solid red;
    // width: (682px/3);
    // height: 270px;
    cursor: pointer;
    width: 250px;
    height: 264px;
    background-repeat: no-repeat;
    &--danny {
      background-image: url(../images/reservation/reward-danny.webp);
    }
    &--sisley {
      margin: 0 -3px;
      background-image: url(../images/reservation/reward-sisley.webp);
    }
    &--krishna {
      background-image: url(../images/reservation/reward-krishna.webp);
    }
  }
}

//                                888               888
//                                888               888
//                                888               888
// 88888b.d88b.   8888b.  888d888 888  888  .d88b.  888888
// 888 "888 "88b     "88b 888P"   888 .88P d8P  Y8b 888
// 888  888  888 .d888888 888     888888K  88888888 888
// 888  888  888 888  888 888     888 "88b Y8b.     Y88b.
// 888  888  888 "Y888888 888     888  888  "Y8888   "Y888

.section-market {
  z-index: 2;
  // height: 1515px;
  height: 1414px;

  &:before {
    //배경
    content: '';
    width: 2560px;
    height: 2628px;
    background: url(../images/market/bg.webp) no-repeat 50% 50%;
    position: absolute;
    top: 59.4%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
  }

  &__bg {
    display: block;
    z-index: 2;
    margin: 0 auto;
    width: 1362px;
    height: 1321px;
    position: absolute;
    top: 89px;
    left: 0;
    right: 0;
    background: url(../images/market/content.webp) no-repeat;
  }
  .ch {
    position: absolute;
    left: 50%;
    &--l {
      width: 795px;
      height: 1191px;
      background: url(../images/market/ch-l.webp) no-repeat;
      top: 157px;
      margin-left: -994px;
    }
    &--r {
      width: 1916px;
      height: 1455px;
      background: url(../images/market/ch-r.webp) no-repeat;
      top: -141px;
      margin-left: -878px;
    }
  }

  // .ch {
  //   // position: absolute;
  //   // top: 390px;
  //   // margin-left: 935px;
  //   // left: 50%;
  //   // background: url(../images/market/ch.webp) no-repeat;
  //   // width: 1258px;
  //   // height: 1433px;

  //   background-image: url(../images/market/ch.webp);
  //   background-repeat: no-repeat;
  //   display: block;
  //   position: absolute;

  //   left: 50%;

  //   // border: 1px solid yellow;
  //   // filter: invert(1);
  //   // opacity: 0.5;
  //   // z-index: 5;
  //   &--1 {
  //     @include spr(-5px, -5px, 406px, 448px);
  //     margin-left: -819px;
  //     top: 612px;
  //   }

  //   &--2 {
  //     @include spr(-5px, -463px, 153px, 185px);
  //     margin-left: -734px;
  //     top: 361px;
  //   }

  //   &--3 {
  //     @include spr(-5px, -658px, 138px, 124px);
  //     margin-left: -574px;
  //     top: 116px;
  //   }
  // }

  .badge-wrap {
    position: absolute;
    top: 879px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
  }

  .btn-reservation-notice {
    position: absolute;
    top: 1080px;
    @include btnImg(302px, 100px, '../images/reservation/reservation-notice.webp');
  }
}
