.tournament-container {
  display: none;
  z-index: 5;
  text-align: center;
  // background: rgba(#000, 0.8);
  // backdrop-filter: blur(5px);
  position: absolute;
  // transform: translate(-50%, -50%);
  // top: 50%;
  // left: 50%;

  top: 300px;
  // width: 100%;
  // height: 590px;
  padding-top: 90px;

  background: url(../images/tournament/bg.webp) no-repeat 50% 50%;
  width: 905px;
  height: 672px;
  left: 50%;
  transform: translateX(-50%);

  &__close {
    @include btnImg(84px, 168px, '../images/tournament/close-btn.webp');
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 100%);
  }
  .title {
    &--select {
      margin: 0 auto 7px;
      width: 555px;
      height: 40px;
      background: url(../images/tournament/title-select.webp) no-repeat;
    }
    &--finish {
      margin: 0 auto 7px;
      width: 454px;
      height: 40px;
      background: url(../images/tournament/title-finish.webp) no-repeat;
    }
  }
  .match-round {
    position: absolute;
    left: 50%;
    top: 240px;
    z-index: 2;
    transform: translateX(-50%);
    width: 134px;
    height: (245px/5);
    background: url(../images/tournament/match-round.webp) no-repeat;
    &--32 {
      background-position-y: 0;
    }

    &--16 {
      background-position-y: (245px/5) * -1;
    }
    &--8 {
      background-position-y: (245px/5) * -2;
    }
    &--4 {
      background-position-y: (245px/5) * -3;
    }
    &--2 {
      background-position-y: (245px/5) * -4;
    }
  }

  .match {
    &-container {
      position: relative;
    }
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
    justify-content: center;
  }
  .vs {
    width: 100px;
    height: 74px;
    background: url(../images/tournament/versus.webp) no-repeat;
    margin: 0 auto;
    position: absolute;
    top: 180px;
    z-index: 2;
  }
  $pad: 30px;
  .item-button {
    // flex: 0 0 340px;
    // padding: $pad;
    padding-bottom: 0;
    border: 0;
    background: none;
    margin-right: -39px;
    margin-bottom: -29px;
    // background: #fff;
    // border: 1px solid #ddd;
    &.selected {
      .img {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  .img {
    margin: 0 auto;
    width: 336px;
    height: 437px;
    display: block;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    &:before {
      content: '';
      opacity: 0;
      transition: 100ms all;
      width: 332px;
      height: 406px;
      position: absolute;
      top: 23px;
      left: -16px;
      background: url(../images/tournament/selected.webp) no-repeat;
    }
  }
}

#tournament-result {
  opacity: 0;
  transition: 300ms opacity;
}
.tournament-result-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .img-bx {
    flex: 0 0 400px;
    position: relative;
    .item-button {
      position: relative;
    }
    &:before {
      background: url(../images/tournament/finish-img-bg.webp) no-repeat;
      content: '';
      width: 417px;
      aspect-ratio: 1;
      display: block;
      position: absolute;
      top: 56%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: spin 30s infinite linear;
      @keyframes spin {
        from {
          transform: translate(-50%, -50%) rotate(0);
        }
        to {
          transform: translate(-50%, -50%) rotate(360deg);
        }
      }
    }
    &:after {
      content: '';
      width: 417px;
      height: 437px;
      position: absolute;
      content: '';
      background: url(../images/tournament/finish-img-fly.webp) no-repeat;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .txt-bx {
    flex: 0 0 280px;
    padding-top: 36px;
    .btn {
      display: inline-block;
      &-saveImg {
        @include btnImg(283px, 156px, '../images/tournament/btn-saveImg.webp');
      }
      &-restart {
        @include btnImg(304px, 92px, '../images/tournament/btn-restart.webp');
      }
    }
  }
  .share {
    margin: 20px auto 35px;
    &__title {
      background: url(../images/tournament/share-title.webp) no-repeat;
      width: 105px;
      height: 23px;
      margin: 0 auto 14px;
    }
    &__list {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      column-gap: 18px;
      .share-btn {
        display: block;
        background-repeat: no-repeat;
        background-image: url(../images/tournament/share-btn.webp);
        &--facebook {
          @include spr(-10px, -10px, 52px, 52px);
        }

        &--kakaotalk {
          @include spr(-10px, -82px, 52px, 52px);
        }

        &--x {
          @include spr(-10px, -154px, 52px, 52px);
        }
      }
    }
  }
  .text {
    margin-top: 45px;
    width: 294px;
    height: 35px;
    background: url(../images/tournament/text.webp) no-repeat;
  }
}
