.dimmed {
  display: none;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
}
.tournament-container {
  display: none;
  z-index: 20;
  text-align: center;
  // background: rgba(#000, 0.8);
  // backdrop-filter: blur(5px);
  position: absolute;
  // transform: translate(-50%, -50%);
  // top: 50%;
  // left: 50%;

  top: 300px;
  // width: 100%;
  // height: 590px;
  // padding-top: 90px;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  width: 905px;
  height: 672px;
  background-image: url(../images/tournament/bg.webp);

  #tournament,
  #tournament-result {
    // width: 770px;
    // height: 546px;
    // padding-top: 140px;
    // border: 1px solid red;
    // background-repeat: no-repeat;

    width: 770px;
    height: 546px;
    padding-top: 81px;
    /* border: 1px solid red; */
    left: 65px;
    background-repeat: no-repeat;
    position: relative;
    top: 59px;
  }
  #tournament {
    // background-image: url(../images/tournament/bg-test.webp);
  }
  #tournament-result {
    background-image: url(../images/tournament/bg-result.webp?ver=34);
  }

  &__close {
    @include btnImg(84px, 168px, '../images/tournament/close-btn.webp');
    position: absolute;
    // bottom: 50px;
    // left: 50%;
    // transform: translate(-50%, 100%);

    top: -40px;
    right: 53px;
  }
  // .title {
  //   &--select {
  //     margin: 0 auto 7px;
  //     width: 555px;
  //     height: 40px;
  //     background: url(../images/tournament/title-select.webp) no-repeat;
  //   }
  //   &--finish {
  //     margin: 0 auto 7px;
  //     width: 454px;
  //     height: 40px;
  //     background: url(../images/tournament/title-finish.webp) no-repeat;
  //   }
  // }
  .match-round {
    position: absolute;
    left: 50%;
    top: 210px;
    z-index: 2;
    transform: translateX(-50%);
    width: 134px;
    height: (245px/5);
    background: url(../images/tournament/match-round.webp) no-repeat;
    &--32 {
      background-position-y: 0;
    }
    &--16 {
      background-position-y: (245px/5) * -1;
    }
    &--8 {
      background-position-y: (245px/5) * -2;
    }
    &--4 {
      background-position-y: (245px/5) * -3;
    }
    &--2 {
      background-position-y: (245px/5) * -4;
    }
  }

  .match {
    &-container {
      position: relative;
    }
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
    justify-content: center;
  }
  .vs {
    width: 100px;
    height: 74px;
    background: url(../images/tournament/versus.webp) no-repeat;
    margin: 0 auto;
    position: absolute;
    top: 180px;
    z-index: 2;
  }
  $pad: 30px;
  .item-button {
    // flex: 0 0 340px;
    // padding: $pad;
    padding-bottom: 0;
    border: 0;
    background: none;
    margin-right: -39px;
    margin-bottom: -29px;
    // background: #fff;
    // border: 1px solid #ddd;
    @at-root .match {
      // .item-button:hover .img {
      //   &:before {
      //     opacity: 0.3;
      //   }
      // }
      .item-button {
        transition: 300ms transform;
        // transition-delay: 200ms;
        // transform-origin: 50% - 20% 70%;
        &:hover {
          // transform: rotate(-3deg);
          transform: translateY(-1%);
        }
      }
      // .vs + .item-button {
      //   transform-origin: 50% +20% 70%;
      //   &:hover {
      //     transform: rotate(3deg);
      //   }
      // }
    }
    &.selected {
      .img {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  .img {
    margin: 0 auto;
    width: 336px;
    aspect-ratio: 555 / 724;
    display: block;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    font-size: 0;
    &:before {
      content: '';
      opacity: 0;
      transition: 100ms all;
      width: 332px;
      height: 406px;
      position: absolute;
      top: 23px;
      left: -16px;
      background: url(../images/tournament/selected.webp) no-repeat;
    }
  }

  .gauge-wrap {
    $h: 3px;
    $color: #d0fcfd;
    // opacity: 0.8;
    z-index: 2;
    position: absolute;
    width: 100%;
    bottom: 35px;
    right: 0;
    left: 0;
    border: 1px solid #fff;
    max-width: 600px;
    margin: 0 auto;
    border-radius: $h + 2px;
    height: $h + 2px;
    background: rgba(#fff, 0.2);
    .gauge {
      box-shadow: 0 0 1px 1px $color;
      border-radius: $h;
      height: $h;
      width: 0%;
      transition: 200ms width;
      background: $color;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

#tournament-result {
  opacity: 0;
  transition: 300ms opacity;
}
.tournament-result-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .img-bx {
    // flex: 0 0 400px;
    position: relative;
    .item-button {
      position: relative;
    }
    &:before {
      //마법진
      background: url(../images/tournament/finish-img-bg.webp) no-repeat;
      content: '';
      width: 417px;
      aspect-ratio: 1;
      display: block;
      position: absolute;
      top: 56%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: spin 40s infinite linear;
      @keyframes spin {
        from {
          transform: translate(-50%, -50%) rotate(0);
        }
        to {
          transform: translate(-50%, -50%) rotate(360deg);
        }
      }
    }
    &:after {
      //나비
      content: '';
      width: 417px;
      height: 437px;
      position: absolute;
      content: '';
      background: url(../images/tournament/finish-img-fly.webp) no-repeat;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .txt-bx {
    // background: rgba(yellow, 0.5);
    // &:before {
    //   content: '';
    //   width: 1px;
    //   background: red;
    //   height: 100%;
    //   position: absolute;
    //   left: 50%;
    //   top: 0;
    // }

    flex: 0 0 292px;
    margin-left: 50px;
    flex: 0 0 280px;
    padding-top: 36px;
    position: relative;
    .btn {
      display: inline-block;
      &-saveImg {
        @include btnImg(283px, 156px, '../images/tournament/btn-saveImg.webp');
        cursor: pointer;
      }
      &-restart {
        @include btnImg(304px, 92px, '../images/tournament/btn-restart.webp');
        position: absolute;
        top: 280px;
        left: 0;
        right: 0;
      }
    }
  }
  .img {
    //랜덤대사
    $line: (
      1 '세이비어님♥ 잘 부탁해요.',
      //
      2 '앞으로도 잘 부탁드려요♥',
      //
      3 '우와♥ 세이비어님♥',
      //
      4 '저를 뽑아주셔서 감사해요♥',
      //
      5 '저에게 첫눈에 반하셨나요?♥',
      //
    );
    @each $i, $lines in $line {
      &[data-index='#{$i}']:after {
        content: $lines;
        background-image: url(../images/tournament/lines-#{$i}.webp);
      }
    }
    &:after {
      width: 164px;
      height: 96px;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      left: -90px;
      font-size: 0;
    }
  }

  //ani
  .img-bx {
    opacity: 0;
    transform: translateY(10%);
    transition: 500ms all;
  }
  .img:after {
    opacity: 0;
    top: 10px;
    transform: rotate(-10deg);
    transform-origin: 100% 100%;
    transition: 300ms all;
    transition-delay: 300ms;
  }
  &.initAni {
    .img-bx {
      transform: translateY(0);
      opacity: 1;
    }
    .img:after {
      opacity: 1;
      top: 0;
      transform: rotate(0);
    }
  }
  //
  .share {
    position: absolute;
    top: 192px;
    left: 0;
    right: 0;
    // margin: 20px auto 35px;
    // &__title {
    //   background: url(../images/tournament/share-title.webp) no-repeat;
    //   width: 105px;
    //   height: 23px;
    //   margin: 0 auto 14px;
    // }
    &__list {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      column-gap: 18px;
      .share-btn {
        display: block;
        background-repeat: no-repeat;
        background-image: url(../images/tournament/share-btn.webp);
        &--facebook {
          @include spr(-10px, -10px, 52px, 52px);
        }

        // &--kakaotalk {
        //   @include spr(-10px, -82px, 52px, 52px);
        // }

        &--x {
          @include spr(-10px, -154px, 52px, 52px);
        }
      }
    }
  }
}
