.btnTop {
  display: none;
  position: fixed;

  width: vw(154);
  height: vw(154);
  $offset: vw(48);
  bottom: $offset;
  right: $offset;
  z-index: 100;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../images/btnTop.webp);
  opacity: 0.8;
  // border: 1px solid red;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 69%;
    aspect-ratio: 1;
    transform: translate(-50%, -50%) rotate(45deg);
    left: 50%;
    top: 50%;
    transform-origin: 50% 50%;

    border: 1.5px solid #fff;
    filter: blur(0.5px);
    $color: #fff;

    box-shadow: //
      0 0 19px rgba($color, 1),
      //
      0 0 10px rgba($color, 0.8),
      //
      inset 0 0 13px rgba($color, 0.6);
    opacity: 0;
    transition: 300ms all;
  }
  &:hover {
    opacity: 1;
    &:before {
      opacity: 0.8;
      transform: translate(-50%, -50%) rotate(45deg + 15deg);
    }
  }
  &.fix {
    position: absolute;
    bottom: calc(100% + $offset);
  }
}

.common-footer {
  // overflow: visible;
  &,
  * {
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
  }
  &__bottom {
    // gap: 24px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: vw(53);

    &__copyright {
      width: 100%;
      margin-left: 0;
    }
  }

  .logo {
    background: url(../images/footer-logo.webp) no-repeat;
    background-size: contain;
    width: vw(606);
    aspect-ratio: (606/80);
    max-width: 300px;
  }
}
