.popup {
  $gutter: vw(5);

  $btnSize: vw(114);

  $offset: $btnSize + $gutter * 2;

  display: none;
  z-index: 400;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  align-items: flex-end;
  padding: 0 $gutter;

  * {
    letter-spacing: -0.05em;
    word-break: keep-all;
  }

  &:before {
    // 배경
    content: '';
    backdrop-filter: blur(4px);
    background-color: rgba(black, 0.7);
    position: fixed;
    -webkit-overflow-scrolling: touch;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &__close {
    z-index: 500;
    cursor: pointer;
    right: 0;
    top: vw(-20);
    transform: translateY(-100%);
    position: absolute;
    box-sizing: content-box;
    width: vw(114);
    aspect-ratio: 1;
    background: url(../images/popup/close-btn.webp) no-repeat;
    background-size: contain;
  }

  //팝업 컨테이너
  &__wrap {
    position: relative;
    align-self: center;
    //그림자
    box-shadow: 0 0 min(20px, 3vw) rgba(#000, 0.3);

    top: $offset/2;
    font-size: vw(32);
    max-width: vw(1080);
    max-width: 96%;
  }

  &__scroll {
    max-height: calc(100svh - $offset * 2);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    // padding-right: 0;
    overflow-anchor: none;
    overscroll-behavior: contain;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(#999, 0.3);
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
    }
  }

  &__body {
    position: relative;
    border: 2px solid #bdbdbd;
  }
}

.popup--video {
  display: flex !important;
  opacity: 0;
  z-index: -2;
  transition: 500ms opacity;
  transition-delay: 100ms;
  .popup__wrap {
    max-width: 1200px;
    width: 100%;
  }
  @include lg-max {
    transform: none !important;
  }
  &.open {
    z-index: 400;
    opacity: 1;
  }

  @at-root .you_tube {
    background-color: #000; //
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 0;
    padding-bottom: 56.25%;
    z-index: 25;
    iframe,
    object,
    embed {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      // margin-top: 70px;
    }
  }
}

.list-dot {
  li {
    position: relative;
    line-height: 1.3;
    display: flex;
    margin-top: 0.3em;
    &:nth-child(1) {
      margin-top: 0;
    }
    &:before {
      margin-right: 0.3em;
      flex: 0 0 auto;
      content: attr(data-dot);
    }
  }
}

#popup__check-board-done,
#popup__reservation {
  .btn {
    position: absolute;
    width: vw(346);
    height: vw(111);
    bottom: vw(85);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0.5;
  }
}

.btn-fullscreen {
  position: absolute;
  bottom: vw(10);
  left: vw(10);
  width: vw(70);
  aspect-ratio: 1;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23222222' class='bi bi-arrows-fullscreen' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707m0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707m-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707'/%3E%3C/svg%3E") no-repeat //
    50% 50%;
  background-color: #f2f2f2;
  background-size: percentage(16/30);
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.popup--reservation-reward {
  .popup__body {
    background-color: #fff;
  }
  img {
    max-height: calc(100vh - 110px - 10px); // 100vh;
    // max-height: 100vh;
    // max-width: 100vw;
  }
}

.popup-terms {
  font-family: $font-family-sub;
  .popup {
    &__wrap {
    }
    &__body {
      background-color: #fff;
      background-image: url(../images/popup/bg-top.webp),
        //
        url(../images/popup/bg.webp);
      background-repeat: no-repeat, repeat-y;
      background-position: 0 0;
      background-size: vw(977) auto, 100% auto;
      padding: vw(40);

      color: #222;
      .terms-title {
        font-size: em(22);
        text-shadow: 0 0 3px #fff,
          //
          0 0 3px #fff,
          //
          0 0 3px #fff,
          //
          0 0 3px #fff,
          //
          0 0 3px #fff,
          //
          0 0 3px #fff;
        text-align: center;
        margin-bottom: 1em;
        min-height: vw(51);
        min-width: vw(505);
        background: url(../images/popup/title-bg.webp) no-repeat 50% 100%;
        background-size: vw(505);
      }
    }
  }
}
