.itemNotice {
  width: 40vw;
  aspect-ratio: 432/75;
  background: url(../images/inc/itemNotice.webp) no-repeat;
  background-size: contain;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 0;
  z-index: 5;
}

.section-landing {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  padding: 16.667vw 0 0;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-landing .bg {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/landing/bg.webp) no-repeat 50% 50%;
  background-size: cover;
}
.section-landing .bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.section-landing .bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
}
.section-landing .container {
  position: relative;
  z-index: 5;
  text-align: center;
}
.section-landing .bi {
  margin: 0 auto;
  width: 77.407vw;
  aspect-ratio: 836/593;
  background: url(../images/landing/bi.webp) no-repeat;
  background-size: contain;
}
.section-landing .title {
  margin: 10.463vw auto 21.111vw;
  width: 77.407vw;
  aspect-ratio: 836/262;
  background: url(../images/landing/title.webp) no-repeat;
  background-size: contain;
}
.section-landing .btnToReservation {
  margin: 0 auto 11.389vw;
  width: 77.407vw;
  aspect-ratio: 836/191;
  background: url(../images/landing/btn.webp) no-repeat;
  background-size: contain;
}
.section-landing .scrollDown {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 20.185vw;
  aspect-ratio: 1.5797101449;
  z-index: 2;
}
.section-landing .scrollDown:after {
  background: url(../images/main/scrolldown.webp) no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.section-landing .scrollDown:before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: radial-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 50%);
}

.section-tournament {
  width: 100%;
  padding: 0 10px;
}
.section-tournament__wrap {
  position: relative;
}
.section-tournament .tournament {
  position: relative;
  width: 100%;
  height: 600px;
}
.section-tournament .tournament, .section-tournament .tournament__cover {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #666;
}
.section-tournament .tournament__cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #222;
}
.section-tournament .tournament__cover,
.section-tournament .tournament__cover button {
  font-size: 2rem;
  color: #fff;
}
.section-tournament .tournament__cover button {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0.8em 1em;
  line-height: 1;
  background: black;
}
.section-tournament .tournament__cover button:hover {
  background: #4d4d4d;
}
.section-tournament .match {
  position: absolute;
  width: 100%;
  top: 3em;
  left: 0;
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  justify-content: center;
}
.section-tournament .item-button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 min(150px, 33vw);
          flex: 0 0 min(150px, 33vw);
  max-width: min(150px, 33vw);
}
.section-tournament .item-button.selected .img {
  -webkit-box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.8);
          box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.8);
}
.section-tournament .name {
  width: 100%;
  font-size: 18px;
  margin: 0.5em auto;
}
.section-tournament .img {
  aspect-ratio: 0.75;
  width: 100%;
  display: block;
  background-position: 50% 50%;
  background-size: cover;
  margin: 0 auto;
  border: 1px solid #ddd;
}
.section-tournament .winner .item-button {
  margin: 0 auto;
}
.section-tournament .winner .share {
  margin: 2em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
}
.section-tournament .winner .share__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
}
.section-tournament .winner .btn {
  border: 1px solid #ddd;
  padding: 0.5em;
  line-height: 1;
}/*# sourceMappingURL=reservation.css.map */