@charset 'UTF-8';
@use 'sass:math';

@import '_var';

// variable : 프로젝트별 기본 폰트설정, 색상, 컨테이터 및 반응형 분기점 변수를 설정하고 수정할 수 있는 파일입니다.

//## LIBRARY ##
@import 'library/unit';
// em, rem, vw 등 반응형 작업에 필요한 단위 관련 function 모음

@import 'library/mixin';
// 자주 사용하는 함수형 선언(@include 구문)을 모아놓은 경로입니다.

// 타이틀 공통
.section {
  position: relative;
  z-index: 1;
  .section-title {
    position: absolute;
    z-index: 2;
    transform: translateX(-50%);
    top: vw(190);
    left: 50%;
    &__img {
      background-size: contain;
      display: block;
      background-repeat: no-repeat;
      width: vw(476);
      height: vw(268);
    }
  }
}

$sections: (
  witch,
  //마녀
  stigmata,
  //성흔
  universe,
  //세계관
  world,
  //대륙
  media//미디어
);

@each $section in $sections {
  .section-#{$section} {
    .section-title__img {
      background-image: url(../images/section-title_#{$section}.webp);
    }
  }
}

// @import 'main/_main.scss';
@import 'main/_swiper-common.scss'; //마녀 + 성흔 공통사항/공통요소
@import 'main/_thumb.scss'; //마녀,성흔 썸네일

@import 'main/_witch.scss'; //마녀
@import 'main/_stigmata.scss'; //성흔
@import 'main/_universe.scss'; //세계관
@import 'main/_world.scss'; //대륙
@import 'main/_media.scss'; //미디어
