@charset 'UTF-8';

@import '_var';
@import 'library/unit';
@import 'library/mixin';

//  TODO: 분리작업
//  TODO: 스크립트분리
//  TODO: cbt 수급

.itemNotice {
  width: vw(432);
  aspect-ratio: 432/75;
  background: url(../images/inc/itemNotice.webp) no-repeat;
  background-size: contain;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 0;
  z-index: 5;
}

@import 'reservation/_landing.scss';
@import 'reservation/_reservation.scss';
@import 'reservation/_form.scss';
@import 'reservation/_cbt.scss';
@import 'reservation/_event.scss';
@import 'reservation/_tournament.scss';
