// .resolution-wrap, .header, .btnTop, .loading .container{
//   -ms-zoom-animation: default;
//   zoom:
// }
/* 
.loading {
  z-index: 1000;
  background-color: #000;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  // bottom: 0;
  min-height: 100vh;
  height: 100vh;
  .container {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    padding-bottom: 44px;
  }
  &__logo {
    width: 734px;
    aspect-ratio: 1;
    position: relative;
    display: block;

    .circle,
    .logo {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
    .logo {
      background-image: url(../../../common/images/loading/bi.webp);
      background-size: 570px;
    }
    .circle {
      transform-origin: 50% 50%;

      &--outer {
        background-image: url(../../../common/images/loading/circle-outer.webp);
      }
      &--inner {
        background-image: url(../../../common/images/loading/circle-inner.webp);
        // animation-delay: -5s !important;
        // animation-duration: 5s !important;
      }

      // animation: rotate 8s infinite linear;
    }
    // @keyframes rotate {
  }
  &__badge {
    width: 100%;
    display: flex;
    // align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    top: 50%;
    margin: 180px auto 0;

    .badge {
      width: 60px;
      aspect-ratio: 1;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      display: block;
      // opacity: 0.5;
      opacity: 0;

      transform: scale(1.1);
      filter: blur(5px);
      //  scale: '1.1', filter: 'blur(5px)'

      $verGap: 40px;
      &--1 {
        background-image: url(../../../common/images/loading/badge1.webp);
      }
      &--2 {
        background-image: url(../../../common/images/loading/badge2.webp);
        margin-top: $verGap;
      }
      &--3 {
        background-image: url(../../../common/images/loading/badge3.webp);
        margin-top: $verGap * 2;
      }
      &--4 {
        background-image: url(../../../common/images/loading/badge4.webp);
        margin-top: $verGap;
      }
      &--5 {
        background-image: url(../../../common/images/loading/badge5.webp);
      }
    }
  }
}
 */
.loading {
  display: none;
}
.i-click-effect {
  position: absolute;
  z-index: 1000;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transform-origin: 50% 50%;
  @media (max-width: 1600px) {
    $w: 60px;
    width: $w;
    height: $w;
    &:before,
    &:after {
      background-size: $w;
    }
  }
  &:before,
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transform: scale(0);
  }
  &:before {
    background: url('../images/click_effect-1.png') no-repeat center/cover;
    animation: cursor_click 0.4s ease forwards 0s;
  }

  &:after {
    background: url('../images/click_effect-2.png') no-repeat center/cover;
    animation: cursor_click 0.6s ease forwards 0.05s;
  }
}

@keyframes cursor_click {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
