@import '_var';
// variable : 프로젝트별 기본 폰트설정, 색상, 컨테이터 및 반응형 분기점 변수를 설정하고 수정할 수 있는 파일입니다.

//## LIBRARY ##
@import 'library/unit';
// em, rem, vw 등 반응형 작업에 필요한 단위 관련 function 모음

@import 'library/mixin';
// 자주 사용하는 함수형 선언(@include 구문)을 모아놓은 경로입니다.

.header__container {
  &:after {
    content: '확률형 아이템 포함';
    position: absolute;
    top: 100%;
    margin-top: 3px;
    right: 0;
    width: 197px;
    height: 30px;
    font-size: 0;
    background: url(../images/inc/itemNotice.webp) no-repeat;
    // background-size: contain;
  }
}
@import 'reservation/_landing.scss';
@import 'reservation/_reservation.scss';
@import 'reservation/_form.scss';
@import 'reservation/_cbt.scss';
@import 'reservation/_event.scss';
@import 'reservation/_tournament.scss';
