@import '_var';
// variable : 프로젝트별 기본 폰트설정, 색상, 컨테이터 및 반응형 분기점 변수를 설정하고 수정할 수 있는 파일입니다.

//## LIBRARY ##
@import 'library/unit';
// em, rem, vw 등 반응형 작업에 필요한 단위 관련 function 모음

@import 'library/mixin';
// 자주 사용하는 함수형 선언(@include 구문)을 모아놓은 경로입니다.

.header__container {
  &:after {
    content: '확률형 아이템 포함';
    position: absolute;
    top: 100%;
    margin-top: 3px;
    right: 0;
    width: 197px;
    height: 30px;
    font-size: 0;
    background: url(../images/inc/itemNotice.webp) no-repeat;
    // background-size: contain;
  }
}
.reservation-wrap {
  margin-bottom: -200px; //이벤트 중첩
  position: relative;
  text-align: center;
  // overflow: hidden;
  .anchor {
    position: absolute;
    left: 0;
    width: 100%;
    &--1 {
      top: 33.33%;
    }
    &--2 {
      top: 66.66%;
    }
  }
  @at-root .reservation-bg {
    // 밤->아침->낮
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    max-width: 2560px;
    margin: 0 auto;
    background-image: url(../images/reservation/bg-1.webp);
    &:before,
    &:after {
      transition: 1000ms all;
      content: '';
      opacity: 0;
      left: 0;
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: inherit;
    }
    &:before {
      background-image: url(../images/reservation/bg-2.webp);
      z-index: 2;
    }
    &:after {
      background-image: url(../images/reservation/bg-3.webp);
      z-index: 3;
    }
    &.noon {
      &:before {
        opacity: 1;
      }
    }
    &.night {
      &:after {
        opacity: 1;
      }
    }
  }
}

@import 'reservation/_landing.scss';
@import 'reservation/_reservation.scss';
@import 'reservation/_form.scss';
@import 'reservation/_event.scss';
@import 'reservation/_tournament.scss';
