.section-landing {
  // z-index: 100;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  padding: vw(180) 0 vw(90);
  // aspect-ratio: (2560/1080);
  display: block;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  .bg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/landing/bg.webp) no-repeat 50% 50%;
    background-size: cover;
    &:before {
      //dimmed
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 120%;
      height: 120%;
      background: #000;
      opacity: 0.6;
      position: absolute;
      display: block;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
    }
  }

  .container {
    position: relative;
    z-index: 5;
    text-align: center;
  }
  //gsap과 aos 효과 동기화
  @at-root {
    html:not(.no-js) .section-landing {
      // .bg {
      //   transform: scale(1.15) translate(-50%, -50%);
      //   transition: 500ms transform;
      // }
      [data-aos='fade-up'] {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
      }
    }
    // .section-landing .bg {
    //   transform: scale(1) translate(-50%, -50%);
    // }
  }

  .bi {
    margin: 0 auto;
    width: vw(836);
    aspect-ratio: 836/593;
    background: url(../images/landing/bi.webp) no-repeat;
    background-size: contain;
  }
  .title {
    margin: vw(113) auto vw(150);
    width: vw(836);
    aspect-ratio: 836/262;
    background: url(../images/landing/title.webp) no-repeat;
    background-size: contain;
  }
  .btnToReservation {
    margin: 0 auto vw(80);
    width: vw(836);
    aspect-ratio: 836/191;
    background: url(../images/landing/btn.webp) no-repeat;
    background-size: contain;
  }

  .scrollDown {
    display: block;
    $w: 218;
    position: relative;
    margin: 0 auto;
    width: vw($w);
    aspect-ratio: $w/138;
    // left: 50%;
    // margin-left: vw($w/-2);
    z-index: 2;
    // transition: 500ms opacity;
    // position: absolute;
    // bottom: vw(700);
    &:after {
      background: url(../images/landing/scrolldown.webp) no-repeat;
      background-size: contain;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:before {
      //그림자
      content: '';
      width: 200%;
      height: 200%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: radial-gradient(rgba(#000, 0.3) 0%, rgba(#000, 0) 50%);
    }
  }
}
