.reservation-wrap {
  margin-bottom: vw(-90); //이벤트 중첩
  position: relative;
  text-align: center;
  // overflow: hidden;
  .anchor {
    position: absolute;
    left: 0;
    width: 100%;
    &--1 {
      top: 33.33%;
    }
    &--2 {
      top: 66.66%;
    }
  }
  @at-root .reservation-bg {
    // 밤->아침->낮
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    margin: 0 auto;
    background-image: url(../images/reservation/bg-1.webp);
    &:before,
    &:after {
      transition: 1000ms all;
      content: '';
      opacity: 0;
      left: 0;
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: inherit;
    }
    &:before {
      background-image: url(../images/reservation/bg-2.webp);
      z-index: 2;
    }
    &:after {
      background-image: url(../images/reservation/bg-3.webp);
      z-index: 3;
    }
    &.noon {
      &:before {
        opacity: 1;
      }
    }
    &.night {
      &:after {
        opacity: 1;
      }
    }
  }
}

.section-reservation,
.section-market {
  background: url(../images/reservation/content.webp) no-repeat;
  background-size: 100% auto;
  .container {
    z-index: 2;
    position: relative;
  }
}

// 8888888b.
// 888   Y88b
// 888    888
// 888   d88P
// 8888888P"
// 888 T88b
// 888  T88b
// 888   T88b

.section-reservation {
  aspect-ratio: (1080/2875);
  background-position-y: 0;
  .reservation-reward {
    position: absolute;
    top: vw(1027);
    width: 92%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    .btn {
      // border: 1px solid yellow;
      width: 33.33%;
      height: vw(444);
    }
  }

  .form-area {
    top: vw(1480);
    // border: 1px solid yellow;
    font-family: $font-family-sub;
  }
}

// 88888b.d88b.
// 888 "888 "88b
// 888  888  888
// 888  888  888
// 888  888  888

.section-market {
  aspect-ratio: (1080/2325);
  background-position-y: 100%;

  .badge-wrap {
    position: absolute;
    top: vw(1535);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: vw(18);
    justify-content: center;
    .badge {
      width: vw(422);
      height: vw(133);
      display: block;
    }
  }

  .btn-reservation-notice {
    position: absolute;
    top: vw(1850);
    width: vw(460);
    height: vw(110);
    // background: #000;
    opacity: 0.5;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
