$bgH: 2358px;
.sectionsWrapper {
  width: 2560px;
  // left: 50%;
  position: relative;
  margin: 0 auto;
  background: url(../images/bg.webp) no-repeat 50% 0;
  // background-size: cover;
  background-size: 100% $bgH;
  // @media (max-width: 2560px) {
  //   transform: translateX(-50%);
  //   left: 50%; //TODO:이거 어쨰야돼..,,.
  // }
}

$margin: 130px;
.section-universe {
  height: 1375px;
  margin-bottom: -148px; //1227 - 1375px;
  // background-color: rgba(yellow, 0.5);
}
.section-world {
  height: (983px + 148px);
  z-index: 1;
}
// .section-media {
//   height: 1036px; //906px + $margin;
//   background: url(../images/bg.webp) no-repeat 50% 100%;
//   background-size: 100% auto;
// }

//
.section-universe {
  padding-top: 320px;
  text-align: center;
  position: relative;
  mask: url(../images/universe/mask.svg) 50% 0,
    //
    url(../images/universe/mask-bot.svg) 50% 100%;
  mask-position: 0 0, 50% 100%;
  mask-repeat: no-repeat;
  // overflow: hidden;
  .txt-bx {
    z-index: 2;
    position: relative;
    .txt {
      position: relative;
      background: url(../images/universe/txt.webp) no-repeat;
      // margin-top: 30px;
      width: 460px;
      margin: 0 auto;
      &:nth-child(1) {
        height: 80px;
        background-position-y: 0;
      }
      &:nth-child(2) {
        height: 95px;
        background-position-y: -80px;
      }
      &:nth-child(3) {
        height: 130px;
        background-position-y: -175px;
      }
      &:nth-child(4) {
        height: 125px;
        background-position-y: -305px;
      }
      &:nth-child(5) {
        height: 50px;
        background-position-y: -430px;
      }
    }
  }

  //배경요소 ( 시계, 깃털)
  .bg {
    position: absolute;
    left: 50%;
    // border: 1px solid rgba(#fff, 0.5);
    &--clock {
      width: 508px;
      height: 429px;
      background: url(../images/universe/clock.webp) no-repeat 0 0;
      margin-left: -746px;
      top: 16px;
    }
    &--feather-1 {
      width: 252px;
      height: 99px;
      background: url(../images/universe/feather1.webp) no-repeat 0 0;
      margin-left: -470px;
      top: 98px;
    }
    &--feather-2 {
      width: 78px;
      height: 28px;
      background: url(../images/universe/feather2.webp) no-repeat 0 0;
      top: 182px;
      margin-left: 320px;
    }
  }
}

// 우측 이미지 (리리아)
.section-universe .img-bx--r {
  height: 739px;
  width: 1595px;
  position: absolute;
  left: 50%;
  margin-left: (-1920px + 1595px + 10px);
  top: 253px;
  background: url(../images/universe/img-r.webp) no-repeat 0 0;

  // &.enter {
  .line {
    animation: universeLine 6s infinite;

    // transform: translate(0, 0);
  }
  // }
  .line {
    $w: 2167px;
    $h: 1045px;
    background: url(../images/universe/line.webp) no-repeat;
    display: block;
    width: $w; // 2167px;
    height: $h; // 1054px;
    position: absolute;
    // border: 1px solid yellow;
    top: -235px;
    right: 0;
    transform-origin: 100% 0;
    transform: translate($w/2, -$w/2);
    @keyframes universeLine {
      0% {
        transform: translate($w/2, -$w/2);
      }
      #{0% + 40%},
      #{100% - 40%} {
        transform: translate(0, 0);
      }
      100% {
        // transform: translate(-$w/2, $w/2);
        transform: translate(-$w/1.5, $w/1.5);
      }
    }

    $delay: 2;
    &--1 {
      @include spr(-5px, -5px);
      animation-delay: -100ms * $delay !important;
    }

    &--2 {
      @include spr(-5px, -1069px);
      animation-delay: -200ms * $delay !important;
    }

    &--3 {
      @include spr(-5px, -2133px);
      animation-delay: -300ms * $delay !important;
    }

    &--4 {
      @include spr(-5px, -3197px);
      animation-delay: -400ms * $delay !important;
    }

    &--5 {
      @include spr(-5px, -4261px);
      animation-delay: -500ms * $delay !important;
    }
  }

  .hand {
    position: absolute;
    z-index: -1;
    // z-index: 3; //TODO:
    // border: 1px solid yellow;
    background-repeat: no-repeat;
    $left: 350px;
    &--1 {
      background-image: url(../images/universe/hand1.webp);
      width: 459px;
      height: 442px;
      transform-origin: 100% 100%;
      left: 180px + $left;
      top: 6px;
    }
    &--2 {
      background-image: url(../images/universe/hand2.webp);
      width: 359px;
      height: 325px;
      transform-origin: 100% 0;
      left: 114px + $left;
      top: 634px;
    }
  }
}

// 좌측 이미지 (제시스)
.section-universe .img-bx--l {
  $w: 1055px;
  height: 492px;
  width: $w;
  position: absolute;
  left: 50%;
  margin-left: -1279px;
  top: 365px;
  background: url(../images/universe/img-l.webp) no-repeat 0 0;
}
